include mixins
doctype
html
	head
		title Command Center 5.0
		script(src='https://unpkg.com/popper.js/dist/umd/popper.min.js')
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		script( src='/javascripts/bootbox.min.js' )
		script(type="text/javascript", src="/perfect-scrollbar/dist/perfect-scrollbar.js")
		link(rel='stylesheet', href='/perfect-scrollbar/css/perfect-scrollbar.css')		
		link(rel='stylesheet', href='/convoyer/styles/styles.css')

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
						
				h3 Rcognize Gallery
				br
				
				div
				.row
					.col-md-12.col-sm-12.col-xs-12
						table#faceTable.table.table-hover.table-striped.table-bordered(data-unique-id="ID" data-toggle="table" data-search="false" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]")
							thead
								tr.primary 
									th
									th Name
									th Photo
									th Tags
							tbody
								-each result in getFaceListResults
									tr
										td
											a(href="/rcognize/facedetails/#{result.FaceID}")  View Details
										td=result.Name
										td
											img#facePhoto(src=result.Link,  width = "100px", height = "100px", display = 'none')
										td
											div(id = `tagContainer ${result.FaceID}`).scrollable-table
													table.table.table-hover.table-striped.table-bordered(id = `tagTable ${result.FaceID}`)
																

					script(src='/rcognize/RcognizeGalleryListScript.js')
					script.
						var serverAddress = !{JSON.stringify(serverAddress)};
						var getFaceListResults = !{ JSON.stringify(getFaceListResults)};
						var dataArray = [];
						initScript();					

										
									