include mixins
doctype
html
	head
		title Command Center 5.0
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/rcognize-theme.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
		script( src='/javascripts/bootbox.min.js' )
		script(type="text/javascript", src="/perfect-scrollbar/dist/perfect-scrollbar.js")
		link(rel='stylesheet', href='/perfect-scrollbar/css/perfect-scrollbar.css')		
		link(rel='stylesheet', href='/convoyer/styles/styles.css')

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
				img(src='/images/rcognize2.png' style = 'height: 30%; width: 30%; margin-left: auto; margin-right: auto; display: block')
				br
				
				div
				.row
					.col-md-12.col-sm-12.col-xs-12
						table#faceTable.table.table-hover.table-striped.table-bordered(data-unique-id="ID" data-toggle="table" data-search="false" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]")
							thead
								tr.primary 
									th
									th Name
									th Photo
									th Tags
							tbody
								-each result in getFaceListResults
									tr
										td
											a(href="/rcognize/facedetails/#{result.FaceID}")  View Details
										td=result.Name
										td
											img#facePhoto(src=result.Link,  width = "100px", height = "100px", display = 'none')
										td
											div(id = `tagContainer ${result.FaceID}`).scrollable-table
													table.table.table-hover.table-striped.table-bordered(id = `tagTable ${result.FaceID}`)
																

					script(src='/rcognize/RcognizeGalleryListScript.js')
					script.
						var serverAddress = !{JSON.stringify(serverAddress)};
						var getFaceListResults = !{ JSON.stringify(getFaceListResults)};
						var dataArray = [];
						initScript();					

										
									